<launch>
    <node name="rosserial" pkg="rosserial_python" type="serial_node.py" output="screen" />

    <include  file="$(find tracker)/launch/tracker.launch" />

    <node name="search" pkg="search" type="search.py" output="screen" />
    <node name="speech_to_cmd" pkg="search" type="speech_to_cmd.py" output="screen" />
</launch>